/***********
 * Dialogs *
 ***********/
 messagedialog, .messagedialog, .dialog { // Message Dialog styling

  background-color: $base_color;
  border-radius: 10px;
  .titlebar:not(headerbar) {
    background-color: transparentize(if($variant=='light', $headerbar_color, $bg_color), 0.05);
  }
  .titlebar {
    min-height: 20px;
    background-image: none;
    background-color: transparentize(if($variant=='light', $headerbar_color, $bg_color), 0.05);
    border-style: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  &.csd { // rounded bottom border styling for csd version
    &.background {
      background-color: darken($bg_color, 2%);
      color: $fg_color;
      border-radius: 10px;
    }

    border-radius: 10px;
  }
}

.messagedialog .message-area,
.messagedialog .response-area,
.dialog .dialog-action-area,
.alert.floating .response-area,
.alert.floating .body-scrolled-window {
  padding: 26px;
}
filechooser {
  .dialog-action-box {
    border-top: 1px solid $borders_color;

    &:backdrop { border-top-color: $backdrop_borders_color; }
  }

  #pathbarbox { border-bottom: 1px solid $bg_color; }
}

filechooserbutton:drop(active) {
  box-shadow: none;
  border-color: transparent;
}
