/*******
 * CSD *
 *******/
 .titlebar{
    border-radius:5px 5px 0 0;
 }
.titlebar,
.header-bar {
   
    background-image: none;
    background-color: @header_bg_color;
    color: @header_fg_color;
    text-shadow: none;
    padding: 4px 10px;

}

.titlebar .button,
.header-bar .image-button, 
.header-bar .path-bar .button,
.titlebar .button:active,
.titlebar .button:checked {
    padding: 5px;
    background-color: transparent;
    border-color: transparent;
    color: @header_fg_color;
    font: bold;
}

.titlebar .button:hover,
.header-bar .image-button:hover, 
.header-bar .image-button:active,
.header-bar .image-button:checked,  
.header-bar .path-bar .button:hover,
.header-bar .path-bar .button:active,
.header-bar .path-bar .button:checked,
.titlebar .button:active:hover,
.titlebar .button:checked,
.titlebar .button:active {
    color: @selected_bg_color;
    background-color: transparent;
}
.maximized .titlebar {
    border-radius: 0;
    border: none;
    box-shadow: none;
}

.tiled .titlebar {
    border-radius: 0;
    border: none;
    box-shadow: none;
}

.titlebar.default-decoration {
    border: none;
}

.titlebar .title {
    font: Bold 10;
    color: @header_fg_color;
}

.titlebar .subtitle {
    font: 9;
    color: @header_fg_color;
}

.titlebar .separator {
    color: transparent;
}

.titlebar .arrow {
    color: alpha(@header_fg_color, 0.7);
}

.titlebar .arrow:insensitive {
    color: mix(@fg_color, @bg_color, 0.3);
}

.window-frame {
    border:none;
    border-radius: 5px 5px 0 0;
    background-color: @header_bg_color;
    box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.4);
    margin: 10px;
}

.window-frame.maximized {
    border-radius: 0;
}

.window-frame.tiled  {
    border-radius: 0;
}

.window-frame:backdrop {
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.3);
}

  .window-frame.ssd {
    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.23);
}

/******************
 * window actions *
 ******************/
.header-bar .button.titlebutton,
.titlebar .button.titlebutton {
    padding-top: 3px;
    padding-bottom: 3px;
}